body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width:960px) {
  .responsive-icon {
    font-size: 60px !important;
  }
}

@media (max-width:960px) {
  .responsive-icon {
    font-size: 50px !important;
  }
}

@media (min-width:500px) and (max-width:600px) {
  .responsive-icon {
    font-size: 37px !important;
  }
}